body {
  padding: 0;
  margin: 0;
}

.header {
  height: 200px;
  padding: 0 360px;
  background-color: #f3f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-top-row {
  display: flex;
  align-items: center;

  justify-content: flex-start;
  gap: 550px;

  width: 100%;

  padding-top: 40px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: -10px;
  margin: 0;
  flex-shrink: 0;
}

.bello-icon {
  height: 35px;
  width: 35px;
  margin: 0 5px 0 0;
}

.logo {
  font-size: 25px;
  font-family: sans-serif;
  color: #ff0a37;
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 0;
  flex-shrink: 0;
}

.nav-links p {
  margin: 0;
  transition: 2s ease;
  text-decoration: none;
  cursor: pointer;
}

.nav-links p:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.host-section {
  margin: 0;

  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  background-color: #e2e2e2;
  padding: 1px 16px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-shrink: 0;
}

.host-section:hover {
  background-color: #f7f7f7;
  border-color: #dddddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.world,
.burg {
  height: 28px;
  width: 28px;
  margin: 0;
  cursor: pointer;
}

.home,
.bloon,
.bell,
.search {
  height: 50px;
  width: 35px;
  vertical-align: middle;
  margin-right: 5px;
  transition: 2s ease;
}

.home:hover,
.bloon:hover,
.bell:hover {
  transform: rotateY(360deg) scale(1.4);
}

a:visited {
  color: black;
  text-decoration: none;
}

.border {
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-radius: 50px;

  padding: 30px 50px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 700px;
  height: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #555050;
}

.search-left,
.search-center,
.search-right,
.search-rightt {
  padding: 1px 25px;
  cursor: pointer;
  line-height: 1.2;
}

.search-left:hover,
.search-center:hover,
.search-right:hover,
.search-rightt:hover {
  transition: 2s ease;
  transform: scale(1.2);
}

.search-left {
  text-align: left;
  font-weight: bold;
}

.search-center {
  text-align: center;
  font-weight: bold;

  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.search-right {
  border-right: 1px solid #dddddd;
  text-align: right;
  font-weight: bold;
}

.search:hover {
  transition: 2s ease;
  transform: scale(1.2);
  cursor: pointer;
}

.content-wrapper {
  max-width: 1400px;

  margin: 40px auto;

  padding: 0 20px;
}

.section-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
}

.card-row {
  display: flex;

  flex-wrap: wrap;

  justify-content: left;
  gap: 15px;
  margin-bottom: 40px;
}

.card {
  width: 220px;

  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;

  height: auto;

  display: block;
  border-radius: 30px;
}

.card-details {
  padding: 10px;

  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-price {
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
  color: #979696;
}
